<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Naslovna</title>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        <link rel="stylesheet" href="../public/css/style.css"/>
    </head>

    <body>
        <h2>Naslovna</h2>
        <nav id="navigation-container">
            <% if(!isAuthenticated) { %>
            <a href="/login">Prijava</a>
            <% } else { %>
            <a href="/private">Pregledaj korisnike na karti</a>
            <a href="/logout" id="navigation">Odjava</a>
            <% } %>
        </nav>
        <div id="map-container">
            <p id = "location"></p>
            <div id="map"></div>
        </div>
        <script type="text/javascript" src="../public/js/map.js"></script>
    </body>
</html>