<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Prikaz korisnika</title>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        <link rel="stylesheet" href="../public/css/style.css"/>
    </head>

    <body>
        <h2>Pregled korisnika</h2>
        <nav id="navigation-container">
            <a href="/">Povratak na naslovnu stranicu</a>
            <a href="/logout" id="navigation">Odjava</a>
        </nav>
        <p>Dobrodošao/la <b><%= user.nickname %></b>!</p>
        <div id="container">
            <div>
                <p id="location"></p>
                <div id="map-private"></div>
            </div>
            <div id="list-container">
                <p>Posljednjih 5 prijavljenih korisnika:</p>
                <% users.map(user => { %>
                    <p><b><%= user.email %></b> <%= new Date(user.timestamp).toLocaleString() %></p>
                <% }) %>
            </div>
        </div>
        <script type="text/javascript" src="../public/js/users.js"></script>
    </body>
</html>