#map {
    height: 400px;
}

#map-container {
    padding-right: 10em;
    padding-left: 10em;
}

#map-private {
    height: 400px;
    width: 600px;
}

#container {
    display: flex;
    justify-content: space-evenly;
}

#navigation {
    padding-left: 2em;
}

#navigation-container {
    position: absolute;
    top: 2em;
    right: 2em;
}